extends layout.pug
include includes/errors.pug
include includes/form-inputs.pug
block content
    +errorsList(errors)
    form(method="post" action="/create")
        input(type="hidden" name="_csrf" value=csrfToken)
        +formInput(firstName, lastName, email, password, confirmedPassword)
        label(for="createUser") Create User
        input(type='submit' name="createUser" value="Create User")
