extends layout.pug
include includes/errors.pug
include includes/form-inputs.pug
block content
    +errorsList(errors)
    +formInput(csrfToken, firstName, lastName, email, password, confirmedPassword)
